<Project>
    <PropertyGroup>
        <PublishProtocol>FileSystem</PublishProtocol>
        <Configuration>Release</Configuration>
        <Platform>Any CPU</Platform>
        <SelfContained>true</SelfContained>
        <PublishSingleFile>true</PublishSingleFile>
        <TargetFramework>net8.0</TargetFramework>
        <RuntimeIdentifier>osx-x64</RuntimeIdentifier>
        <PublishDir>bin\Release\net8.0\publish\</PublishDir>
    </PropertyGroup>
</Project>